<div class="contenedor-login">
  <h2 class="titulo-login">Iniciar Sesión</h2>
  <form (ngSubmit)="iniciarSesion()">
    <div class="grupo-formulario">
      <label class="etiqueta-login">Correo</label>
      <input type="email" [(ngModel)]="email" name="email" class="campo-login" required placeholder="ejemplo@correo.com">
    </div>
    <div class="grupo-formulario">
      <label class="etiqueta-login">Contraseña</label>
      <input type="password" [(ngModel)]="password" name="password" class="campo-login" required placeholder="Tu contraseña">
    </div>
    <button type="submit" class="boton-login">Entrar</button>
  </form>
  <button routerLink="/" class="boton-volver">Volver</button>
  <div *ngIf="mensaje" class="alerta-error">{{ mensaje }}</div>
</div>