<nav class="barra-navegacion barra-expand-lg sombra-suave mb-4 fija-arriba">
  <div class="contenedor-fluido">
    <a class="marca-barra negrita" style="cursor:pointer;">TFG</a>
    <button class="boton-barra" type="button" data-bs-toggle="collapse" data-bs-target="#barraNav"
      aria-controls="barraNav" aria-expanded="false" aria-label="Mostrar navegación">
      ⏬
    </button>
    <div class="collapse barra-collapse justificar-derecha" id="barraNav">
      <ul class="lista-barra">
        <p></p>
        <li class="item-barra"><button (click)="CerrarSesion()" class="btn enlace-barra">Cerrar Sesión</button></li>
        <li class="item-barra"><button (click)="onNavigate('/menu')" class="btn enlace-barra">Menú</button></li>
        <li class="item-barra"><button (click)="onNavigate('/tareas')" class="btn enlace-barra">Gestión de Tareas</button></li>
        <li class="item-barra"><button (click)="onNavigate('/temporizadores')" class="btn enlace-barra">Temporizadores</button></li>
        <li class="item-barra"><button (click)="onNavigate('/alarma')" class="btn enlace-barra">Configurar Alarma</button></li>
        <li class="item-barra"><button (click)="onNavigate('/control-de-jornada')" class="btn enlace-barra">Control de Jornada</button></li>
      </ul>
    </div>
  </div>
</nav>