<div class="menu-autenticacion modo-noche">
  <h1>Bienvenido a tu asistente de productividad</h1>
  <p>Gestiona tu tiempo, tareas y alarmas fácilmente.</p>
  <div class="grupo-botones">
    <button routerLink="/login" class="boton boton-primario">Iniciar Sesión</button>
    <button routerLink="/registro" class="boton boton-secundario">Registrarse</button>
  </div>
</div>

<div class="descripcion-app modo-noche">
  <h2>¿Qué puedes hacer?</h2>
  <div class="desplegables">
    <details>
      <summary><strong>Tareas:</strong> Organiza y marca tareas.</summary>
      <p>Gestiona tus tareas diarias, crea listas, establece prioridades y marca tareas como completadas.</p>
    </details>
    <details>
      <summary><strong>Horarios:</strong> Controla tus tiempos.</summary>
      <p>Registra tus horarios de trabajo y descanso para mejorar tu productividad y hábitos.</p>
    </details>
    <details>
      <summary><strong>Alarmas:</strong> Configura recordatorios.</summary>
      <p>Programa alarmas y temporizadores personalizados para no olvidar tus actividades importantes.</p>
    </details>
    <details>
      <summary><strong>Estadísticas:</strong> Consulta tu progreso.</summary>
      <p>Visualiza tu historial y estadísticas para analizar y mejorar tu rendimiento.</p>
    </details>
  </div>
</div>
