<div class="auth-menu">
    <h1>Bienvenido a tu aplicación de gestión de tareas y tiempo</h1>
    <p>Accede a todas las funcionalidades registrándote o iniciando sesión.</p>
    <div class="button-group">
        <button routerLink="/login" class="btn primary-btn">Iniciar Sesión</button>
        <button routerLink="/registro" class="btn secondary-btn">Registrarse</button>
    </div>
</div>

<div class="app-description">
    <h2>¿Qué puedes hacer con esta aplicación?</h2>
    <ul>
        <li><strong>Gestión de Tareas:</strong> Organiza tus tareas diarias, crea listas y establece prioridades.</li>
        <li><strong>Control de Horarios:</strong> Registra y controla tus horarios de trabajo de manera eficiente.</li>
        <li><strong>Alarmas y Temporizadores:</strong> Configura alarmas y temporizadores para gestionar tu tiempo.</li>
        <li><strong>Historial de Actividades:</strong> Lleva un seguimiento de tu productividad con un historial detallado.</li>
    </ul>
</div>
