<div class="menu-autenticacion">
  <h1>Aplicación de Gestión de Tareas y Control Horario</h1>
  <p class="descripcion-principal">
    <strong>Optimiza tu día a día</strong> con una app que te permite gestionar tu tiempo, tareas y productividad de forma intuitiva.<br>
    Controla tu jornada laboral, organiza tus tareas, configura alarmas y temporizadores, consulta estadísticas de tu progreso y personaliza tu experiencia. ¡Todo en un solo lugar!
  </p>
  <div class="grupo-botones">
    <button routerLink="/login" class="boton boton-primario">Iniciar Sesión</button>
    <button routerLink="/registro" class="boton boton-secundario">Registro</button>
  </div>
</div>

<div class="funciones-app">
  <h2>Funciones principales</h2>
  <ul class="lista-funciones">
    <li>
      <i class="bi bi-list-task"></i>
      <span><strong>Gestión de Tareas:</strong> Crea, organiza y marca tareas como completadas. Agrupa tareas por proyectos o categorías.</span>
    </li>
    <li>
      <i class="bi bi-clock-history"></i>
      <span><strong>Control de Jornada:</strong> Registra tus horas de entrada y salida, o usa el temporizador para llevar el control exacto de tu jornada.</span>
    </li>
    <li>
      <i class="bi bi-alarm"></i>
      <span><strong>Alarmas y Temporizadores:</strong> Programa alarmas y temporizadores personalizados para no olvidar tus actividades importantes.</span>
    </li>
    <li>
      <i class="bi bi-bar-chart-line"></i>
      <span><strong>Estadísticas:</strong> Consulta tu historial y estadísticas para analizar y mejorar tu rendimiento.</span>
    </li>
    <li>
      <i class="bi bi-people"></i>
      <span><strong>Gestión de Grupos:</strong> Organiza tareas y actividades en grupos para una mejor planificación y colaboración.</span>
    </li>
    <li>
      <i class="bi bi-gear"></i>
      <span><strong>Personalización:</strong> Personaliza colores, temas y preferencias para adaptar la app a tu estilo.</span>
    </li>
  </ul>
</div>
