
body {
  font-family: 'Segoe UI', Arial, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F1F2EE;
}



@media (max-width: 900px) {
  .tabs {
    flex-direction: column;
    gap: 10px;
    border-bottom: none;
  }
  .tabs li {
    border-radius: 5px;
    border-bottom: 1px solid #ddd;
  }
}
@media (max-width: 768px) {
  .btn, .boton {
    font-size: 0.9rem;
    padding: 8px;
  }
  .form-control {
    font-size: 0.9rem;
  }
}
@media (max-width: 480px) {
  .btn, .boton {
    font-size: 0.8rem;
    padding: 7px;
  }
  .form-control {
    font-size: 0.85rem;
  }
}
