<div class="contenedor-registro">
  <h2 class="titulo-registro">Registro</h2>
  <form (ngSubmit)="registroUsuario()">   
    <div class="grupo-formulario">
      <label class="etiqueta-registro">Correo</label>
      <input type="email" [(ngModel)]="email" name="email" class="campo-registro" required placeholder="ejemplo@correo.com">
    </div>
    <div class="grupo-formulario">
      <label class="etiqueta-registro">Nombre</label>
      <input type="text" [(ngModel)]="nombre" name="nombre" class="campo-registro" required placeholder="Tu nombre">
    </div>
    <div class="grupo-formulario">
      <label class="etiqueta-registro">Contraseña</label>
      <input type="password" [(ngModel)]="password" name="password" class="campo-registro" required placeholder="Tu contraseña">
    </div>
    <button type="submit" class="boton-registro">Registrar</button>
  </form>
  <button routerLink="/" class="boton-volver">Volver</button>
  <div *ngIf="mensaje" class="alerta-error">{{ mensaje }}</div>
</div>